@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/header";
@import "layout/mainmenu";

@import "pages/home";

.discount-block {
    grid-area: discount-block;
    background-color: $discount-blue-color;
    color: black;
}
.slider-section {
    grid-area: section;
    background-color: $slider-blue-color;
    padding-top: 5rem;
}

.wrapper > article {
    grid-area: article;
    background-color: $deep-purple-color;
}


.wrapper > .aside-right {
    grid-area: aside-right;
    background-color: $slider-blue-color;
   
}

.wrapper > .aside-left {
    grid-area: aside-left;
    background-color: $slider-blue-color;
    
}

.wrapper > footer {
    grid-area: footer;
    background-color: $ligh-orange-color;
}
